@font-face {
  font-family: 'SS';
  src: url('../assets/fonts/sourcesansprolight.ttf');
  src: url('../assets/fonts/sourcesansprolight.eot') format('embedded-opentype'),
       url('../assets/fonts/sourcesansprolight.woff') format('woff'),
       url('../assets/fonts/sourcesansprolight.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}
