//colors
$light-grey: #F7F9FB;
$grey: #777777;
$light-blue: #8FC1E3;
$light-blue-btn: #b5d9f1;
$light-blue-footer: #DFEFF9;
$turquoise: #5085A5;
$blue: #256582;
$dark-blue: #1d4152;
$khaki: #687864;

$transition: all 0.8s ease;

$middle-desktop: 1400px;
$tablet: 1025px;
$mini-tablet: 800px;
$small-tablet: 770px;
$large-mobile: 600px;
$mobile: 520px;
$medium-mobile: 450px;
$small-mobile: 340px;