.comments {
  &__border {
    width: 10rem;
    height: 0.25rem;
    background: $turquoise;
    margin: 0 auto 1rem auto;
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;

    &-button {
      position: absolute;
      max-width: 5%;
      cursor: pointer;

      &_left {
        left: -1.5%;
      }

      &_right {
        right: -1.5%;
      }
    }
  }
  &__container {
    overflow: hidden;
    background-color: $light-grey;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-flow: column;
  }

  &__item {
    margin: 1rem 0.875rem;
    background-color: white;
    border-radius: 5%;
  }

  &__img {
    margin: 0.875rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__text {
    font-size: 0.775rem;
    height: 4.5rem;
    padding: 0 0.5rem;
    white-space: pre-line;
    overflow-y: auto;
  }
  &__text::-webkit-scrollbar {
    width: 0.1rem;
  }
  &__text::-webkit-scrollbar-thumb {
    background-color: #bbb;
  }
  &__name {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

@media screen and (max-width: $tablet) {
  .comments {
    &__container {
      grid-template-columns: repeat(4, 25%);
    }
    &__img {
      margin: 0.6rem;
      width: 3.5rem;
      height: 3.5rem;
    }
    &__text {
      font-size: 0.75rem;
      height: 4rem;
    }
  }
}

@media screen and (max-width: $mini-tablet) {
  .comments {
    &__container {
      grid-template-columns: repeat(3, 33%);
    }
    &__text {
      font-size: 0.7rem;
      height: 3.5rem;
      margin-bottom: 0;
    }
    &__carousel {
      &-button {
        max-width: 6%;

        &_left {
          left: -2.5%;
        }

        &_right {
          right: -2.5%;
        }
      }
    }
  }
}

@media screen and (max-width: $large-mobile) {
  .comments {
    &__container {
      grid-template-columns: repeat(2, 50%);
    }
    &__img {
      width: 3rem;
      height: 3rem;
    }
    &__carousel {
      &-button {
        max-width: 9%;
      }
    }
  }
}

@media screen and (max-width: $medium-mobile) {
  .comments {
    &__container {
      grid-template-columns: repeat(1, 100%);
    }
    &__img {
      width: 2.5rem;
      height: 2.5rem;
    }
    &__text {
      font-size: 0.625rem;
    }
    &__name {
      font-size: 0.7rem;
    }
  }
}
