.footer {
  background-color: $light-blue-footer;

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $dark-blue;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;

    &-wrapper {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      margin-bottom: 0;
      padding-left: 0;
    }

    &-social {
      display: flex;
      gap: 0.5rem;
    }

    &-link {
      color: $dark-blue;
      font-size: 1.2rem;
      transition: $transition;
      &:hover {
        font-weight: bold;
      }
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    font-size: 0.9rem;

    &-text {
      display: flex;
      gap: 1rem;
    }

    &-confid {
      color: $dark-blue;
    }

    &-contact {
      display: flex;
      gap: 1rem;
    }

    &-tel {
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: $middle-desktop) {
  .footer__up {
    &-link {
      font-size: 1.2rem;
    }

    &-wrapper {
      gap: 1rem;
    }
  }
  .social__icon {
    width: 1.6rem;
    height: auto;
  }
}

@media screen and (max-width: 1220px) {
  .footer__up {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    &-info {
      width: 100%;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;
    }

    &-logo {
      & img {
        width: 10rem;
        height: auto;
      }
    }
  }
}
.social {
  align-self: flex-end;
  &__icon-img {
    height: 1.5rem;
  }
}

.footer__down {
  &-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: $tablet) {
  .footer__up {
    &-link {
      font-size: 1rem;
    }
  }

  .footer__down {
    &-text {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &-contact {
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: $small-tablet) {
  .footer__down-contact {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $medium-mobile) {
  .footer__up {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  .footer__down {
    flex-direction: column-reverse;
    gap: 1rem;

    &-contact {
      display: flex;
      flex-direction: row;
    }

    &-text {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  .social {
    align-self: flex-start;
  }
}
